<section class="wrap-steps">
    <div class="squiggle-container squiggle-animated">
        <svg width="100%" height="700px">
            <g id="step">
                <path class="step-path" stroke="#ff736d" stroke-width="7" fill="none" stroke-dasharray=""
                    stroke-dashoffset="0.00"
                    d="M 20,600
                   L 150,600, 150,550, 280,550 280,500, 280,500, 410,500, 410,450, 540,450 540,400,  670,400,
                    670,350,  670,350 , 800,350, 800,300, 930,300, 930, 250, 1060, 250, 1060, 200, 1194, 200, 1194, 150,
                    1325, 150,1325, 100
                   "/>
            </g>
        </svg>
    </div><!-- /squiggle-container -->

    <div ng-repeat="s in home.states" class="step disabled step{$ $index + 1 $}">
        <figure><i class="fa {$ home.icons[$index] $}"></i></figure>
        <a ng-click="home.show(s)" style="cursor: pointer;">{$ s.title $}</a>
    </div>
</section>

<div class="modal fade" ng-repeat="s in home.states" id="myModal{$ s.id $}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel{$ s.id $}" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">{$ s.title $}</h4>
      </div>
      <div class="modal-body">
        <p>{$ s.description $}</p>
      </div>
      <div class="modal-footer">
        <a ng-click="home.go(s)" class="btn btn-primary">Challenge</a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="clearfix"></div>