
<div id="main-page">
    <div class="overlay-bg"></div>

    <!-- header -->
    <header class="header" role="banner">
        <div class="container">
            <h1 class="logo"><a>SoftCycle</a></h1><!--logo-->

            <nav class="navbar" role="navigation">
                  <a class="button" href="#">login</a>
            </nav><!-- /nav -->

        </div><!-- /container -->

    </header>
    <!-- /header -->

    <!-- content -->
    <main class="content" role="main">
            <section class="wrap-steps">
                <div class="squiggle-container squiggle-animated">
                    <svg width="1300px" height="700px">
                        <g id=step">
                                <path class="step-path" stroke="#fdf9f9" stroke-width="7" fill="none" stroke-dasharray=""
                                stroke-dashoffset="0.00"
                                d="M 20,600
                                   L 150,600, 150,550, 280,550 280,500, 280,500, 410,500, 410,450, 540,450 540,400,  670,400,
                                    670,350,  670,350 , 800,350, 800,300, 930,300, 930, 250, 1060, 250, 1060, 200, 1194, 200, 1194, 150,
                                    1325, 150,1325, 100
                                   "/>
                        </g>
                    </svg>
                </div><!-- /squiggle-container -->

                <div class="step step1 disabled">
                    <figure><i class="fa fa-lightbulb-o"></i></figure>
                    <a href="#">Initiation</a>
                </div>
                <div class="step step2 disabled">
                    <figure><i class="fa fa-wrench"></i></figure>
                    <a href="#">System Concept Development</a>
                </div>
                <div class="step step3 disabled">
                    <figure><i class="fa fa-book"></i></figure>
                    <a href="#">Planning</a>
                </div>
                <div class="step step4 disabled">
                    <figure><i class="fa fa-line-chart"></i></figure>
                    <a href="#">Requirements Analysis</a>
                </div>
                <div class="step step5 disabled">
                    <figure><i class="fa fa-picture-o"></i></figure>
                    <a href="#">Design</a>
                </div>
                <div class="step step6 disabled">
                     <figure> <i class="fa fa-cogs"></i></figure>
                    <a href="#">Development</a>
                </div>
                <div class="step step7 disabled">
                    <figure><i class="fa fa-desktop"></i></figure>
                    <a href="#">Integration and Test</a>
                </div>
                <div class="step step8 disabled">
                    <figure> <i class="fa fa-globe"></i></figure>
                    <a href="#">Implementation</a>
                </div>
                <div class="step step9 disabled">
                    <figure><i class="fa fa-briefcase"></i></figure>
                     <a href="#">Opearations & Maintenance</a>
                </div>
                <div class="step step10 disabled">
                    <figure><i class="fa fa-flag-checkered"></i></figure>
                    <a href="#">Disposition</a>
                </div>
            </section><!-- /wrap-steps -->

        <!-- <div id="pt-main" class="pt-perspective">
			<div class="pt-page pt-page-1"><h1><span>Коллекция плавных</span>переходов<strong>web-страниц</strong></h1></div>
			<div class="pt-page pt-page-2"><h1><span>Коллекция плавных</span>переходов<strong>web-страниц</strong></h1></div>
			<div class="pt-page pt-page-3"><h1><span>Коллекция плавных</span>переходов<strong>web-страниц</strong></h1></div>
			<div class="pt-page pt-page-4"><h1><span>Коллекция плавных</span>переходов<strong>web-страниц</strong></h1></div>
			<div class="pt-page pt-page-5"><h1><span>Коллекция плавных</span>переходов<strong>web-страниц</strong></h1></div>
			<div class="pt-page pt-page-6"><h1><span>Коллекция плавных</span>переходов<strong>web-страниц</strong></h1></div>
		</div>  vblocsks for plagin  http://tympanus.net/codrops/2013/05/07/a-collection-of-page-transitions/ -->

        <div class="clearfix"></div>
    </main>
    <!-- /content-->


    <footer class="footer">
        <div class="wrap">
            <p class="copy text-center">powered by <a tagret="_blank" href="http://1d20dev.com/">1d20</a></p>
            <ul class="nav-bottom text-center">
                <li ><a target="_blank" href="http://vk.com/1d20dev"><i class="fa fa-vk"></i></a></li>
                <li><a  target="_blank" href="https://www.facebook.com/pages/1d20/1494887337438338"><i class="fa fa-facebook-square"></i></a></li>
                <li><a target="_blank" href="https://twitter.com/1d20dev"><i class="fa fa-twitter-square"></i></a></li>
                <li><a target="_blank" href="https://github.com/1d20"><i class="fa fa-github"></i></a></li>
                <li><a  target="_blank" href="https://www.linkedin.com/company/4830524?trk=prof-exp-company-name"><i class="fa fa-linkedin-square"></i></a></li>
            </ul>
        </div>
    </footer> 

</div><!-- /main-container -->