<div id="main-page">

    <!-- header -->
    <header class="header" role="banner">
        <div class="container">
            <h1 class="logo"><a>SoftCycle</a></h1><!--logo-->

            <nav class="navbar" role="navigation">
                  <a href="#">login</a>
            </nav><!-- /nav -->
        </div><!-- /container -->

    </header>
    <!-- /header -->

    <!-- content -->
    <main class="content" role="main">
        <section class="wrap-steps">
            <div class="squiggle-container squiggle-animated">
            <svg width="200" height="180">
              <path stroke="green" stroke-width="3" fill="none" stroke-dasharray=""
  stroke-dashoffset="0.00"
                    d="M 20,50
                       L 80,20 20,100 150,50 50,150 150,120
                       "/>
                </svg>
            </div>

            <div class="step step1">
                <figure><i class="fa fa-lightbulb-o"></i></figure>
                <a href="#">Initiation</a>
            </div>
            <div class="step step2">
                <figure><i class="fa fa-wrench"></i></figure>
                <a href="#">System Concept Development</a>
            </div>
            <div class="step step3">
                <figure><i class="fa fa-book"></i></figure>
                <a href="#">Planning</a>
            </div>
            <div class="step step4">
                <figure><i class="fa fa-line-chart"></i></figure>
                <a href="#">Requirements Analysis</a>
            </div>
            <div class="step step5">
                <figure><i class="fa fa-picture-o"></i></figure>
                <a href="#">Design</a>
            </div>
            <div class="step step6">
                 <figure> <i class="fa fa-cogs"></i></figure>
                <a href="#">Development</a>
            </div>
            <div class="step step7">
                <figure><i class="fa fa-desktop"></i></figure>
                <a href="#">Integration and Test</a>
            </div>
            <div class="step step8">
                <figure> <i class="fa fa-globe"></i></figure>
                <a href="#">Implementation</a>
            </div>
            <div class="step step9">
                <figure><i class="fa fa-briefcase"></i></figure>
                 <a href="#">Opearations & Maintenance</a>
            </div>
            <div class="step step10">
                <figure><i class="fa fa-flag-checkered"></i></figure>
                <a href="#">Disposition</a>
            </div>
        </section>
        <div class="clearfix"></div>
    </main>
    <!-- /content-->


    <footer class="footer">
        <div class="wrap">
            <p class="copy text-center">powered by <a tagret="_blank" href="http://1d20dev.com/">1d20</a></p>
            <ul class="nav-bottom text-center">
                <li><a href=""><i class="fa fa-vk"></i></a></li>
                <li><a href=""><i class="fa fa-facebook-square"></i></a></li>
                <li><a href=""><i class="fa fa-twitter-square"></i></a></li>
                <li><a href=""><i class="fa fa-github"></i></a></li>
                <li><a href=""><i class="fa fa-linkedin-square"></i></a></li>
            </ul>
        </div>
    </footer> 

</div><!-- /main-container -->