{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>SoftCycle</title>
	<link rel="stylesheet" type="text/css" href="{% static 'frontend/css/vendors.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'frontend/css/styles.css' %}">
</head>
<body>
<p>Hello</p>
<p><img src="{% static 'default.jpg' %}"/></p>

<script type="text/javascript" src="{% static 'frontend/js/vendors.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/js/scripts.js' %}"></script>
</body>
</html>