{% load staticfiles %}
<!DOCTYPE html>
<html ng-app="soft">
<head>
	<title>SoftCycle</title>
	<link rel="stylesheet" type="text/css" href="{% static 'frontend/css/vendors.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'frontend/css/styles.css' %}">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
</head>
<body ng-controller="SoftController as soft">
	<div id="main-page">
	    <div class="overlay-bg"></div>
	    <!-- header -->
	    <header class="header" role="banner">
	        <div class="container">
	            <h1 class="logo"><a>SoftCycle</a></h1><!--logo-->

	            <nav class="navbar" role="navigation">
	                <a class="button" ng-if="!soft.username" href="/login/google-oauth2/">Login</a>
	                <a class="button" ng-if="soft.username" href="/logout/">{$ soft.username $}</a>
	            </nav><!-- /nav -->

	        </div><!-- /container -->

	    </header>
	    <!-- /header -->

		<!-- content -->
	    <main class="content" role="main" ng-view></main>

	    <footer class="footer">
	        <div class="wrap">
	            <p class="copy text-center">powered by <a tagret="_blank" href="http://1d20dev.com/">1d20</a></p>
	            <ul class="nav-bottom text-center">
	                <li ><a target="_blank" href="http://vk.com/1d20dev"><i class="fa fa-vk"></i></a></li>
	                <li><a  target="_blank" href="https://www.facebook.com/pages/1d20/1494887337438338"><i class="fa fa-facebook-square"></i></a></li>
	                <li><a target="_blank" href="https://twitter.com/1d20dev"><i class="fa fa-twitter-square"></i></a></li>
	                <li><a target="_blank" href="https://github.com/1d20"><i class="fa fa-github"></i></a></li>
	                <li><a  target="_blank" href="https://www.linkedin.com/company/4830524?trk=prof-exp-company-name"><i class="fa fa-linkedin-square"></i></a></li>
	            </ul>
	        </div>
	    </footer> 

	</div><!-- /main-container -->

<script type="text/javascript" src="{% static 'frontend/js/vendors.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/js/games.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/js/scripts.js' %}"></script>
</body>
</html>